@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
.bg-color-name-title {
    background-color: #676767;
    background-image: url("../images/heat-wood-fire-pizza.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    height: 182px;
}

body {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.bg-color-three-reasons {
    background-color: #525252;
    /*color: black;*/
    background-image: url(../images/pizza.jpg);
}

.align-row {
    display: flex;
    -ms-flex-align: row;
    justify-content: center;
}

.menu-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: row;
    width: 35%;
    padding: 1%;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
    background-image: url("../images/delicious-taste-pizza-pepperoni.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-menu {
    background-color: #dc3545;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}

.column {
    display: flex;
    flex-direction: column;

}

/* ---------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.section-heading {
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    color: #f4f4f4;
}

.contact-heading {
    color: #525252;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;

}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/pizza-beer-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    height: 86px;

}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
    height: 20%;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    font-size: small;
    padding: 15px 15px 0px 15px;
}

.footer-test {
    margin-top: auto;
}

.container-footer {
    padding-left: 1px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

/* ----------------------------------------Reasons to eat */

.three-reasons-icon {
    font-size: 20px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

.bg-color-three-reasons {
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    /* Fallback background color */
}

.icon-container {
    padding: 5px;
}

.menu-pic {
    background-image: url("../images/body.jpg");
    width: 100%;
}

.menu-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* ----------------------------------------Personal Info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* ----------------------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}

/* ----------------------------------------Work History */

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/* ----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

/*--------------------------------------------Media Queries*/

@media (max-width: 600px) {
    .align-row {
        flex-direction: column;
    }

    .row-table {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    /*.menu-container{ padding-top: 25%;}*/

    #map {
        min-height: fit-content;
    }
}